body {
  display: flex;
  justify-content: center;
}

.column {
  border: 1px solid black;
  margin: 5px;
}

.section {
  border: 5px solid rgb(91, 94, 166);
  margin: 5px;
}

.startPage {
  position: relative;
  top: 25vh;
  text-align: center;
}

.startForm {
  display: flex;
  justify-content: center;
}

#submitButton {
  display: flex;
  justify-content: center;
}

.input {
  width: 75%;
}

#quoteElement {
  width: 75vw;
  position: relative;
  top: 25vh;
  text-align: center;
}

#bookSearchDiv {
  display: flex;
  justify-content: center;
}

.cityName{
  font-size: 20px;
}

.modalBtn{
  max-height: 100px !important;
  max-width: 100px !important;
  height: 100px !important;
  width: 100px !important
}

.modalText{
  font-size: 30px;
  color: white
}

.background {
  position: absolute;
  max-height: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

