body,
html {
  height: 100%;
}
body {
  background-image: url("darkmode.jpg");
  display: flex;
  justify-content: center;
  background-size: cover;
  overflow: auto;
  font-family: "Red Hat Display", sans-serif;
}

.labelName,
.labelZipcode {
  color: white;
}
.is-size-5 {
  font-size: 2rem !important;
}

#bookTitle,
#name {
  font-size: 1rem !important;
}

#description,
#image {
  padding: 10px;
}

.column {
  border-radius: 10px;
  margin: 5px;
  background: rgba(255, 251, 250, 0.514);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.startPage {
  position: relative;
  top: 25vh;
  text-align: center;
}

.startForm {
  display: flex;
  justify-content: center;
}

#submitButton {
  display: flex;
  justify-content: center;
}

.input {
  width: 75%;
}

#quoteElement {
  width: 75vw;
  top: 10vh;
  text-align: center;
}

blockquote {
  align-content: center;
}
.quoteBody {
  color: white;
  opacity: 0.8;
}

.quoteAuthor {
  font-family: "Sanchez", serif;
  font-style: italic;
  font-size: 20px;
  color: white;
  opacity: 0.5;
}

@import "compass/css3";
.brooks {
  position: relative;
  font-family: "Sanchez", serif;
  line-height: 1.5em;
  font-style: italic;
}

.brooks:before {
  content: "\201C";
  position: absolute;
  left: -0.5em;
  font-size: 4em;
  z-index: -1;
}

#bookSearchDiv {
  display: flex;
  justify-content: center;
}

#dateDisplay {
  color: white;
  text-shadow: 3px 3px 2px black, 5px 5px 1px rgba(0, 0, 0, 0.2);
}
#headerName {
  color: white;
  letter-spacing: 0.05em;
  text-shadow: 3px 3px 2px black, 5px 5px 1px rgba(0, 0, 0, 0.2);

  font-size: 6rem !important;
}

#headerName:hover {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.title {
  color: white !important;
  text-shadow: 2px 2px 2px black, 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.modalBtn {
  max-height: 100px !important;
  max-width: 100px !important;
  height: 100px !important;
  width: 100px !important;
}

.modalText {
  font-size: 30px;
  color: white;
}

.background {
  position: absolute;
  max-height: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* create preloader effect */
.preloader {
  align-items: center;
  background: rgb(23, 22, 22);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  transform: opacity 1s linear;
}
.preloader.loaded {
  opacity: 0;
  pointer-events: none;
}

.cityName:hover,
.eventLabel:hover {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}
